* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: black;
  color: red;
  font-family: 'Brygada';
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}
